:root {
  --color-bg: #282c34;
  --color-main: #61dafb;
  --color-secondary: #313640;
  --color-text-main: #ffffff;
  --color-text-secondary: #91a3b8;

  background: var(--color-bg);
}

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-text-main);
  max-width: 800px;
  margin: 0 auto;
}

.App-menu {
  margin: 30px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-text-secondary);
}

.App-menu-item {
  width: 101px;
  padding-bottom: 10px;
}

.App-link {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.active {
  border-bottom: 5px solid var(--color-main);
  color: var(--color-text-main);
}
